# Ignore IDE-specific settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore cifar10_embedding_mlp directory
cifar10_embedding_mlp/

# Ignore data directory
data/

# Ignore any .bin files
*.bin

# Ignore all .txt files
*.txt
!results/
!results/*.txt

# Except for CMakeLists.txt
!CMakeLists.txt

# Ignore executable files
mlp_infer

# Ignore build directory
build/